body {
  background-color: lightblue;
}

.container {
  padding-top: 10%;
  padding-bottom: 15px;

  z-index: 10;
}

/* Visibility Settings */
.invisible {
  visibility: hidden;
  display: none;
  z-index: 5;
}

.wrapper {
  /* width: 100%; */
  height: 100%;
  z-index: 100;
  overflow: hidden;
  background-color: lightblue;
}

.inner {
  overflow: hidden;
  /* width: 100%; */
  position: relative;
  z-index: 0;
}

#sun {
  position: absolute;
  z-index: -1;
}
