body,
html {
  background-color: #33ccff;
  /* height: 2000px; */
  height: 100%;
  overflow: visible;
}

#interface {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 2rem;
  z-index: 20;
  text-align: center;
}

.container {
  padding-top: 5%;
  padding-bottom: 15px;
  z-index: 10;
}

#forecast_card {
  margin-top: 15px;
}

.modal-backdrop {
  display: none;
}

.modal {
  color: black;
}
/* Visibility Settings */
.invisible {
  visibility: hidden;
  display: none;
  z-index: 5;
}

.wrapper {
  height:100%;
  z-index: 100;
  overflow-x: hidden;
  background-color: #33ccff;
  position: relative;
  z-index: 1;
}

.inner {
  position: relative;
  z-index: 0;
}

#sun {
  position: absolute;
  z-index: -1;
}

.Clear {
  display: none;
}

.Snow {
  display: none;
}

.Clouds {
  display: none;
}

.Rain {
  display: none;
}

.Drizzle {
  display: none;
}

.Snow {
  display: none;
}

.footer{
  background-color: none;
}
