.home_page,
.weather_page {
  max-width: 1920px;
  max-height: 900px;
  /* min-height: 900px; */
  z-index: 2;
}
.container {
  padding-top: 10%;
  padding-bottom: 15px;
  z-index: 1;
}

/* Visibility Settings */
.invisible {
  visibility: hidden;
  display: none;
}

.wrapper {
  /* width: 100%; */
  height: 100%;
  z-index: 0;
  overflow: hidden;
  background-color: lightblue;
}

.inner {
  overflow: hidden;
  /* width: 100%; */
  position: relative;
}

#sun {
  position: absolute;
  z-index: 10;
}