body {
  background-color: lightblue;
}
/* .home_page,
.weather_page {
  max-width: 1920px;
  max-height: 900px;
}
*/
.container {
  padding-top: 10%;
  padding-bottom: 15px;
}

/* Visibility Settings */
.invisible {
  visibility: hidden;
  display: none;
}

body {
  background: rgb(0, 0, 1, 0);
  animation: sky 5s ease 1s infinite;
}

.wrapper {
  display: table;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

svg #sun-g {
  transform: translateX(200px);
  animation: sun-g 5s ease 1s infinite;
}

svg #sun {
  transform: translateX(-200px);
  animation: sun 5s ease 1s infinite;
}

@keyframes sky {
  0% {
    background: #3498db;
  }
  45%,
  55% {
    background: #2c3e50;
  }
  100% {
    background: #3498db;
  }
}

@keyframes sun-g {
  0% {
    transform: translateX(200px);
  }
  45%,
  55% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-200px);
  }
}

@keyframes sun {
  0% {
    transform: translateX(-200px);
  }
  45%,
  55% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(200px);
  }
}
